.navigationBar {
  z-index: 100;
  position: fixed;
  width: 100%;
  background: $color-navbar;
  transition: all 300ms;
  overflow: hidden;
  @include respond(phone) {
    height: 5vh;
  }

  &-hide {
    height: 0;
  }
  &-show {
    height: $height-navbar;
  }

  &-container {
    width: 100rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 2rem 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &-selector {
    transition: all 300ms;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) skewX(-10deg);
    width: 10rem;
    height: $height-navbar;
    @include respond(phone) {
      height: 5vh;
      width: 10rem;
    }
    background-color: #04c2c9;
    z-index: -1;
    opacity: 1;
    // margin-left: calc(10rem * 1);
  }
}
