.navBarButton {
  font-size: 1.5rem;
  opacity: 0.8;
  transition: all 300ms;
  cursor: pointer;
  position: relative;
  padding: 0.5rem 0rem;
  width: 10rem;
  height: $height-navbar;
  vertical-align: middle;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  //REVIEW
  &:focus,
  &:active {
    outline: none;
  }
  //REVIEW

  //  border: 2px solid white;
  &:hover {
    //background-color: white;
    opacity: 1;
    border-bottom-color: $color-homeheader;
  }
  &-text {
    color: white;
    transition: all 300ms;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
  }
  &:hover &-text {
    color: rgb(178, 98, 231);
  }
  &-icon {
    //font-size: 2rem !important;
    //vertical-align: text-bottom;
    color: white;
    font-size: 1.5rem !important;
    height: 2.125rem !important;
    transition: all 300ms !important;
  }
  &:hover &-icon {
    //color: black;
    transform: scale(1.5) rotateY(360deg) rotateZ(360deg);
  }

  &-active {
    opacity: 1;
    border-bottom: 0.5rem solid white;
    &:hover {
      transform: none;
    }
  }
  &-active &-text {
    color: white;
    &:hover {
      transform: none;
    }
  }
  &-active &-icon {
    transform: skewX(-10deg);
    color: rgb(123, 196, 255);
    &:hover {
      transform: none !important;
    }
  }
}
