.projectMobileView {
  max-width: 95%;
  overflow: hidden;
  margin: auto;
  &__screenshot {
    width: 100%;
    border-bottom: 1px solid red;
    padding-bottom: 3rem;
    &__heading {
      font-size: 5rem;
      text-align: center;
      margin-bottom: 2rem;
    }
    &__image {
      width: 100%;
    }
  }
  &__logo {
    width: 50%;
    margin: auto;
    margin-bottom: 5rem;
    &__image {
      width: 100%;
    }
  }
  &__info {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5rem;
  }
  &__redirect {
    margin: 5rem 0;
    text-align: center;
    &__button {
      //padding: 1rem 2.5rem;
      height: 10rem;
      width: 25rem;
      outline: none;
      border: none;
      background-color: red;
      border-radius: 10rem;
      color: white;
      & a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
