@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin verticalCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media (max-width: 50rem) {
      @content;
    }
  } //NOTE 500px
  @if ($breakpoint == tab-port) {
    @media (max-width: 80rem) {
      @content;
    }
  } //NOTE 800px
  @if ($breakpoint == tab-land) {
    @media (max-width: 110rem) {
      @content;
    }
  } //1100px
  @if ($breakpoint == hd) {
    @media (max-width: 140rem) {
      @content;
    }
  } //NOTE 1400px
  @if ($breakpoint == uhd) {
    @media (min-width: 150rem) {
      @content;
    }
  } //NOTE from 1400px
}
